/* Reset CSS */
* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #eceef0;
    
}

.container {
    max-width: 1200px;
   
    padding: 20px;
}

/* Barre de navigation */
nav {
    background-color: #0c0c0f;
    color: #fff;
    
    text-align: center;
   display: flex;
   gap: 70px;
   padding-left: 30%;
}

.nav-links {
    text-decoration: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 35px;
    margin-right: 20px;
    font-weight: bold;
    color: #dd3131;
    text-align: center;
    
    
}

/* Header */
.hero {
    background-color: #dd3131;
    color: #fff;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #fff;
    color: #dd4848;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.cta-button:hover {
    background-color:#dd3131;;
    color: #fff;
}

/* Produits */
.products {
    margin-top: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.product h2 {
    font-size: 24px;
    color: #dd3131;;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: #000000;
}

/* Contact */
.contact {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

.contact h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-radius: 10px;
}

footer p {
    font-size: 16px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
